[submodule "backend"]
	path = backend
	url = https://github.com/pranavbijith1/LockCubeBackend
[submodule "LockCubeMiniGame"]
	path = LockCubeMiniGame
	url = git@github.com:AnthonZh/LockCubeMiniGame.git
[submodule "yolo-test"]
	path = yolo-test
	url = git@github.com:andrewchen3019/yolo-test.git
